body {
	background-color: rgb(0, 0, 0, 0.1);
}

h1 {
	color: rgba(0, 0, 0, 0.5);
}

p {
	color: rgba(0, 0, 0, 0.25);
	font-family: sans-serif;
}

header {
	position: fixed;
	width: 100%;
	max-height: 80px;
	margin: 0 auto;
	padding: 0 25px;
	left: 0;
	right: 0;
	top: 0;
	background-color: white;
}

footer {
	width: 50%;
	max-height: 80px;
	margin: 0 auto;
	padding: 25px 25px;
	background-color: white;
}

.post-list {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	justify-content: space-between;
	margin: 100px auto;
	width: 90%;
	padding: 25px;
	background-color: rgb(0, 0, 0, 0.05);
}

.post {
	font-family: sans-serif;
    background-color: white;
    width: 80%;
    height: auto;
    margin: 15px auto;
    padding: 25px;
    border-style: solid;
    border-color: rgb(0, 0, 0, 0.25);
    border-width: 0.5px;
}

.post-date {
	font-family: sans-serif;
	font-size: 12px;
}

.post-image {
	max-width: 100%;
	height: auto;
}
