body {
	background-color: rgb(0, 0, 0, 0.1)
}

h1 {
	color: rgba(0, 0, 0, 0.5);
}

p {
	color: rgba(0, 0, 0, 0.25);
}

.post-list {
	margin: 25px auto;
	width: 90%;
	padding: 25px;
	background-color: rgb(0, 0, 0, 0.05);
}


.post {
	width: 50%;
    background-color: white;
    margin: 15px auto;
    padding: 25px;
    border-style: solid;
    border-color: rgb(0, 0, 0, 0.25);
    border-width: 0.5px;
}

.post-image {
	max-width: 100%;
	height: auto;
}
