{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

<header>
	<h1>Header</h1>
</header>

<div class="post-list">	
	{% if posts %}
	    {% for post in posts %}
            <div class="post">
		        {% if post.post_image %}
		            <img src="media/{{ post.post_image }}" class="post-image">
		        {% endif %}
		        <h1>{{ post.post_title }}</h1>
		        <span class="post-date">Published: {{ post.post_date }}</span>
		    </div>    
	    {% endfor %}
	{% else %}
	    No posts yet.
	{% endif %}
</div>

<footer>
	<p>&copy; 2020 Culinary Diaries</p>
</footer>
